<h1>Listing Subcategories</h1>

<div class="text-right">
  <%= link_to icon('plus-circle', 'New Subcategory'), new_subcategory_path, class: "btn btn-primary" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @subcategories.present? %>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.name %></td>
        <td><%= subcategory.category %></td>
        <td><%= link_to 'Show', subcategory %></td>
        <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
        <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
      <tr>
      <td colspan="5">There are no subcategories set yet.</td>
      </tr>
    <% end %>
  </tbody>
</table>