@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.fa {
	padding-right: 5px;
}
.navbar-default {
	background: #FFF;
	border: 0px;
}
.middle-header {
	padding-top: 10px;
	padding-bottom: 10px;
}
	.navbar-collapse {
		border-top: 1px solid #E2E2E2;
		border-bottom: 1px solid #E2E2E2;
	}
	.navbar-default .navbar-nav > li > a {
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: #FFF;
		background-color: #337ab7;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #337ab7;
		background-color: transparent;
		font-weight: 700;
	}
	.navbar-default .navbar-nav > li.btn > a {
		color: #FFF;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 700;
	}
	.navbar-right {
		margin-right: 0px;
	}
		.cart-btn > a:hover,
		.cart-btn > a:focus {
			background-color: transparent !important;
		}