<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Category name", :required => 'required' %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit class: "btn btn-primary", data: { confirm: 'Are you sure you want to create this category as a parent category?' } %>
  </div>
<% end %>
