<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Product name", :required => 'required' %>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <%= f.text_area :description, class: "form-control", placeholder: "Product description", :required => 'required' %>
    </div>
    <div class="form-group">
      <%= f.label :price, class: "control-label" %>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.text_field :price, class: "form-control", placeholder: "0.00", :required => 'required' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category_id, class: "control-label" %>
      <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name), {:prompt => "Choose a category"}, {class: "form-control", :required => true} %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
