<h1>Listing Products</h1>

<div class="text-right">
  <%= link_to icon('plus-circle', 'New Product'), new_product_path, class: "btn btn-primary" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="text-center">Price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, lenght: 100, omission: '...') %></td>
        <td class="text-center"><%= number_to_currency(product.price) %></td>
        <td><%= link_to icon('list-alt', "Show"), product, title: "Show product" %></td>
        <td><%= link_to icon('edit', "Edit"), edit_product_path(product), title: "Edit product" %></td>
        <td><%= link_to icon('trash-o', "Delete"), product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }, title: "Delete product" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
