<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is an example of an ecommerce store built on Ruby on Rails.">
  <title>SampleStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="top-header row">
      </div>
      <div class="middle-header row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sample Store</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="btn btn-primary cart-btn"><a href="#"><i class="fa fa-shopping-cart"></i>Cart</a></li>
        </ul>
      </div>
      <div class="bottom-header row">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Store", products_path %></li>
            <li><%= link_to "Who We Are", page_about_path %></li>
            <li><%= link_to "Contact Us", page_contact_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

  <div class="container">

    <% if notice %>
    <div class="row">
      <p class="alert alert-success"><strong><%= notice %></strong></p>
    </div>
    <% end %>
  
    <%= yield %>
  
  </div>

</body>
</html>
